version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: todo-list-mongodb
    volumes:
      - mongodb-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017 --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  backend:
    container_name: todo-list-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: runner
    ports:
      - "8000:8000"
    depends_on:
      mongodb:
        condition: service_healthy
    env_file:
      - ./backend/.env
  frontend:
    container_name: todo-list-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: runner
    ports:
      - "3000:80"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env

  nginx:
    image: nginx:alpine
    container_name: todo-list-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    env_file:
      - ./backend/.env

volumes:
  mongodb-data: